- var page = "catalog";

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width")
    title Каталог
  body
    div.body-wrapper
      include ../modules/page-header.pug
      main
        div.page-heading
          div.center.page-heading__center
            h1.page-heading__title Каталог продукции
        section.products
          div.center.products__center
            h2.hidden Товары
            include ../modules/product.pug
            div.more
              h3.more__title Показать ещё 100500 товаров
              span.more__text На самом деле, вкусов гораздо больше!
              a.more__link(href="#") Показать всё
        section.extra
          div.center.extra__center
            h2.extra__title Дополнительные товары
            ul.extra__list
              include ../modules/good.pug
            div.gift
            picture.gift__pic
              source(media="(min-width: 1200px)" srcset="img/gift-photo-desktop@2x.jpg 2x, img/gift-photo-desktop@1x.jpg 1x")
              source(media="(min-width: 768px)" srcset="img/gift-photo-tablet@2x.jpg 2x, img/gift-photo-tablet@1x.jpg 1x")
              img(src="img/gift-photo-mobile@1x.png" srcset="img/gift-photo-mobile@2x.png 2x" alt="Чехол для кота")
              div.gift__text.
                Закажите всё и получите чехол для кота в подарок!
        include ../modules/contacts.pug
      include ../modules/page-footer.pug
