- var page = "index";

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width")
    title Главная
  body
    div.body-wrapper
      include ../modules/page-header.pug
      main
        div.page-heading.page-heading--main
          div.center.page-heading__center
            h1.page-heading__title Функциональное питание для котов
            p.page-heading__text.
              Занялся собой? Займись котом!
            picture.page-heading__pic
              source(media="(min-width: 1200px)" srcset="img/index-can-desktop@2x.png 2x, img/index-can-desktop@1x.png 1x")
              source(media="(min-width: 768px)" srcset="img/index-can-tablet@2x.jpg 2x, img/index-can-tablet@1x.jpg 1x")
              img(src="img/index-can-mobile@1x.png" srcset="img/index-can-mobile@2x.png 2x" alt="Банка с кормом")
            a.page-heading__link(href="form.html") Подобрать программу
        section.programms
          div.center.programms__center
            h2.hidden Виды диет
            article.programm
              h3.programm__title.programm__title--slim Похудение
              p.programm__text.
                Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim позволит Вашему питомцу сбросить лишний вес.
              a.programm__link(href="catalog.html#slim-little") Каталог Slim
                img(src="img/icon-right-arrow.svg" width="25" height="10" alt="Стрелка вправо")
            article.programm
              h3.programm__title.programm__title--pro Набор массы
              p.programm__text.
                Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет Вашему коту нарастить мышцы и стать грозой улиц!
              a.programm__link(href="catalog.html#pro-little") Каталог Pro
                img(src="img/icon-right-arrow.svg" width="25" height="10" alt="Стрелка вправо")
        section.features
          div.center.features__center
            h2.features__title Как это работает?
            ul.features__list
              -
                var features = [
                  {
                    mod: "feature--ingredients",
                    text: "Функциональное питание содержит только полезные питательные вещества."
                  },
                  {
                    mod: "feature--powder",
                    text: "Выпускается в виде порошка, который нужно лишь залить кипятком, и готово!"
                  },
                  {
                    mod: "feature--change",
                    text: "Замените один-два приёма обычной еды на наше функциональное питание."
                  },
                  {
                    mod: "feature--result",
                    text: "Уже через месяц наслаждайтесь изменениями к лучшему у Вашего питомца!"
                  },
                ]

              - for (var i = 0; i <= features.length - 1; i++) {
                  li(class="feature "+features[i].mod)
                    p.feature__text.
                      #{features[i].text}
              - }
        section.example
          div.center.example__center
            h2.example__title Живой пример
            p.example__text.
              Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не изменял своих привычек и по-прежнему спит по 16 часов в день.
            div.stats
              div.stats__item
                span.stats__title 5 кг
                span.stats__text снижение веса
              div.stats__item
                span.stats__title 60 дней
                span.stats__text затрачено времени
              div.stats__text.stats__text--costs Затраты на питание: 15 000 руб.
              div.stats__inner
                picture.example__pic.example__pic--before
                  source(media="(min-width: 1200px)" srcset="img/before-desktop@2x.png 2x, img/before-desktop@1x.png 1x")
                  source(media="(min-width: 768px)" srcset="img/before-tablet@2x.png 2x, img/before-tablet@1x.png 1x")
                  img(src="img/before-mobile@1x.png" srcset="img/before-mobile@2x.png 2x" alt="Толстый кот")
                div.stats__inscription Было
                picture.example__pic.example__pic--after
                  source(media="(min-width: 1200px)" srcset="img/after-desktop@2x.png 2x, img/after-desktop@1x.png 1x")
                  source(media="(min-width: 768px)" srcset="img/after-tablet@2x.png 2x, img/after-tablet@1x.png 1x")
                  img(src="img/after-mobile@1x.png" srcset="img/after-mobile@2x.png 2x" alt="Стройный кот")
                div.stats__inscription Стало
                div.stats__controls
                  button.stats__control.stats__control--active#before-btn(type="button") Было
                  button.stats__control#after-btn(type="button") Стало
        include ../modules/contacts.pug
      include ../modules/page-footer.pug
    script(src="js/menu-toggle.js")
    script(src="js/image-toggle.js")
