section.contacts
  h2.hidden Контакты
  div.contacts__inner
    span.contacts__text Приглашаем к сотрудничеству дилеров!
    a.contacts__text.contacts__text--address(href="#") ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
  div.contacts__map-wrapper
    iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253056745!2d30.320853351703562!3d59.93871916896517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2sBolshaya+Konyushennaya+Street%2C+19%2F8%2C+Sankt-Peterburg%2C+191186!5e0!3m2!1sen!2sru!4v1536493012736")
