-
  var goods = [
    {
      title: "Сахарозаменитель",
      quantity: "1 упаковка",
      price: "100 Р.",
      btnName: "good-1",
    },
    {
      title: "Питьевая вода",
      quantity: "5 литров",
      price: "50 Р.",
      btnName: "good-2",
    },
    {
      title: "Молоко",
      quantity: "1 литр",
      price: "100 Р.",
      btnName: "good-3",
    },
    {
      title: "Витамины",
      quantity: "1 упаковка (30 г)",
      price: "300 Р.",
      btnName: "good-4",
    },
  ]

- for (var i = 0; i <= goods.length - 1; i++) {
    li.good
      h3.good__title #{goods[i].title}
      div.good__text
        span #{goods[i].quantity}
        span #{goods[i].price}
      button.good__btn(name= goods[i].btnName) Заказать
- }
