footer.page-footer
  picture.page-footer__logo
    a.page-footer__link(href="index.html")
      img(src="img/logo-footer.svg" width="130" height="30" alt="Логотип")
  ul.socials
    li.socials__item
      a.socials__link(href="#")
        img(src="img/icon-vk.svg", alt="Вконтакте", width="32" height="16")
    li.socials__item
      a.socials__link(href="#")
        img(src="img/icon-insta.svg", alt="Instagram", width="24" height="24")
    li.socials__item
      a.socials__link(href="#")
        img(src="img/icon-fb.svg", alt="Facebook", width="16" height="28")
  a.copyright(href="https://htmlacademy.ru/") HTML Academy
    img(src="img/htmlacademy.svg" alt="HTML Academy" width="28" height="34")
