-
  var products = [
    {
      title: "Cat Energy Pro 500 г",
      weight: "500 г",
      taste: "Курица",
      price: "700 р",
      srcsetBig: "img/chicken-small-desktop@2x.png 2x\, img/chicken-small-desktop@1x.png 1x",
      srcsetMedium: "img/chicken-small-tablet@2x.png 2x\, img/chicken-small-tablet@1x.png 1x",
      srcsetSmall: "img/chicken-small-mobile@2x.jpg 2x",
      src: "img/chicken-small-mobile@1x.jpg",
    },
    {
      title: "Cat Energy Pro 1000 г",
      weight: "1000 г",
      taste: "Курица",
      price: "1000 р",
      srcsetBig: "img/chicken-big-desktop@2x.png 2x\, img/chicken-big-desktop@1x.png 1x",
      srcsetMedium: "img/chicken-big-tablet@2x.png 2x\, img/chicken-big-tablet@1x.png 1x",
      srcsetSmall: "img/chicken-big-mobile@2x.jpg 2x",
      src: "img/chicken-big-mobile@1x.jpg",
    },
    {
      title: "Cat Energy Pro 500 г",
      weight: "500 г",
      taste: "Рыба",
      price: "700 р",
      srcsetBig: "img/fish-small-desktop@2x.png 2x\, img/fish-small-desktop@1x.png 1x",
      srcsetMedium: "img/fish-small-tablet@2x.png 2x\, img/fish-small-tablet@1x.png 1x",
      srcsetSmall: "img/fish-small-mobile@2x.jpg 2x",
      src: "img/fish-small-mobile@1x.jpg",
    },
    {
      title: "Cat Energy Pro 1000 г",
      weight: "1000 г",
      taste: "Рыба",
      price: "1000 р",
      srcsetBig: "img/fish-big-desktop@2x.png 2x\, img/fish-big-desktop@1x.png 1x",
      srcsetMedium: "img/fish-big-tablet@2x.png 2x\, img/fish-big-tablet@1x.png 1x",
      srcsetSmall: "img/fish-big-mobile@2x.jpg 2x",
      src: "img/fish-big-mobile@1x.jpg",
    },
    {
      title: "Cat Energy Slim 500 г",
      weight: "500 г",
      taste: "Гречка",
      price: "400 р",
      srcsetBig: "img/buckwheat-small-desktop@2x.png 2x\, img/buckwheat-small-desktop@1x.png 1x",
      srcsetMedium: "img/buckwheat-small-tablet@2x.png 2x\, img/buckwheat-small-tablet@1x.png 1x",
      srcsetSmall: "img/buckwheat-small-mobile@2x.jpg 2x",
      src: "img/buckwheat-small-mobile@1x.jpg",
    },
    {
      title: "Cat Energy Slim 1000 г",
      weight: "1000 г",
      taste: "Гречка",
      price: "700 р",
      srcsetBig: "img/buckwheat-big-desktop@2x.png 2x\, img/buckwheat-big-desktop@1x.png 1x",
      srcsetMedium: "img/buckwheat-big-tablet@2x.png 2x\, img/buckwheat-big-tablet@1x.png 1x",
      srcsetSmall: "img/buckwheat-big-mobile@2x.jpg 2x",
      src: "img/buckwheat-big-mobile@1x.jpg",
    },
    {
      title: "Cat Energy Slim 500 г",
      weight: "500 г",
      taste: "Рис",
      price: "500 р",
      srcsetBig: "img/rice-small-desktop@2x.png 2x\, img/rice-small-desktop@1x.png 1x",
      srcsetMedium: "img/rice-small-tablet@2x.png 2x\, img/rice-small-tablet@1x.png 1x",
      srcsetSmall: "img/rice-small-mobile@2x.jpg 2x",
      src: "img/rice-small-mobile@1x.jpg",
    },
  ]

- for (var i = 0; i <= products.length - 1; i++) {
    article.product
      h3.product__title #{products[i].title}
      picture.product__pic
        source(media="(min-width: 1200px)" srcset= products[i].srcsetBig)
        source(media="(min-width: 768px)" srcset= products[i].srcsetMedium)
        img(src= products[i].src srcset= products[i].srcsetSmall alt= products[i].taste)
      table.product__table
        tbody
          tr.product__row
            td.troduct__cell Объём
            td.troduct__cell #{products[i].weight}
          tr.product__row
            td.troduct__cell Вкус
            td.product__cell #{products[i].taste}
          tr.product__row
            td.troduct__cell Цена
            td.product__cell #{products[i].price}
      button.product__btn(type="button") Заказать
- }
