.body-wrapper {
  position: relative;
  max-width: 425px;
  margin: 0 auto;

  font-family: "OswaldRegular", arial, sans-serif;

  background: #ffffff;
}

@media (min-width: $tablet-width) {
  .body-wrapper {
    max-width: 1200px;
  }
}

@media (min-width: $desktop-width) {
  .body-wrapper {
    max-width: 3000px;
  }
}
