.contacts {
  color: $text-color-1;
}

.contacts__inner {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  padding: 30px 0;
  @include padding-mobile;
}

.contacts__text {
  width: 50%;
  font-size: $font-size-2;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text--address {
  font-family: arial;
  font-size: $font-size-1;
  text-transform: none;
}

.contacts__map-wrapper {
  height: 365px;

  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 210px, center;
  background-size: 50px 45px, auto;
}

.contacts__map {
  border: none;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__inner {
    width: 708px;
    margin: 0 auto;
    padding: 70px 0;
  }

  .contacts__text {
    width: 165px;
    margin-right: auto;
    font-size: $font-size-4;
    line-height: 25px;
  }

  .contacts__text--address {
    margin-right: 0;
    margin-left: auto;

    text-align: right;
    font-size: $font-size-2;
    line-height: 20px;
  }

  .contacts__map-wrapper {
    height: 400px;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__inner {
    position: absolute;
    z-index: 100;
    top: 110px;
    left: 110px;

    width: 410px;
    padding: 60px 80px;

    background-color: #ffffff;
  }

  .contacts__map-wrapper {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-position: 1000px 230px, center;
  }
}

@media (min-width: $mobile-width) and (min-resolution: 144dpi),
       (min-width: $mobile-width) and (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@2x.png");
    background-size: 50px 45px, 320px 365px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi),
       (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@2x.png");
    background-size: 50px 45px, 768px 400px;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 144dpi),
       (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@2x.png");
    background-size: 50px 45px, auto 400px;
  }
}
