.extra {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  @include padding-mobile;
}

.extra::before {
  @include pseudo;
  top: 40px;
  width: 80%;
}

.extra__title {
  position: relative;
  z-index: 100;

  width: 250px;
  margin-bottom: 25px;

  font-size: $font-size-6;
  font-weight: normal;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .extra {
    padding-top: 50px;
  }

  .extra__title {
    width: 410px;
    margin-bottom: 70px;
    text-align: center;
    font-size: $font-size-12;
  }

  .extra::before {
    width: 100%;
    top: 80px;
  }
}
