.features {
  @include padding-mobile;
  padding-bottom: 40px;
}

.features__title {
  margin-bottom: 30px;

  font-size: $font-size-12;
  line-height: 60px;
  color: $text-color-2;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 0;
    padding-top: 30px;
  }

  .features__title {
    margin-bottom: 60px;
    font-size: $font-size-24;
    line-height: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
