.form {
  padding-bottom: 30px;
  font-size: $font-size-2;
  text-transform: uppercase;
}

.form__center {
  padding: 20px 0;
  @include padding-mobile;
}

.form__label {
  padding: 8px 0;
  color: $text-color-1;
}

.form__input {
  margin-left: 10px;
  padding: 10px;

  font-family: "OswaldRegular", arial, sans-serif;
  font-size: $font-size-2;
  text-transform: uppercase;
  color: inherit;

  border: 1px solid $border-color;
}

.form__title {
  margin-bottom: 30px;

  font-size: $font-size-6;
  line-height: 24px;
  text-transform: none;
  font-weight: normal;

  background-color: #ffffff;
}

.form__btn {
  display: block;
  width: 280px;
  margin: 30px auto;
  padding: 10px 0;

  font-family: "OswaldRegular", arial, sans-serif;
  font-size: $font-size-2;
  color: $text-color-3;
  text-transform: uppercase;

  background-color: $bg-color-1;
}

.form__text--required {
  display: block;
  margin: 0 auto;

  text-align: center;
  color: $text-color-1;
  font-family: arial;
  font-size: $font-size-1;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: $font-size-4;
    line-height: 20px;
  }

  .form__title {
    margin-bottom: 60px;
    padding: 0 30px;
    font-size: $font-size-12;
    line-height: 36px;
  }

  .form__label {
    @include padding-tablet;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  .form__btn,
  .form__text--required {
    margin: 0;
  }
}
