.gift {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
}

.gift::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  display: block;
  width: 57px;
  height: 64px;

  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.gift__text {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);

  width: 165px;

  text-align: center;
  font-family: arial, sans-serif;
  font-size: $font-size-2;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .gift {
    width: auto;
    margin: 40px auto;
  }

  .gift::before  {
    left: 120px;
    right: auto;
  }

  .gift__text {
    top: 70px;
    left: auto;
    right: 20px;

    width: 165px;

    text-align: left;
  }
}
