.main-nav {
  position: absolute;
  z-index: 100;

  width: 100%;
  padding-top: 20px;

  font-family: "OswaldMedium", arial, sans-serif;
  text-align: center;
  font-size: $font-size-4;
  text-transform: uppercase;
  line-height: 20px;

  background-color: #ffffff;
}

.main-nav__item {
  padding: 20px 0;
  border-top: 1px solid $border-color;
}

.main-nav__item:last-child {
  border-bottom: none;
}

.main-nav__link {
  position: relative;
}

.main-nav__item--active {
  .main-nav__link::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;

    background: $bg-color-1;
  }
}

.main-nav__item:hover {
  .main-nav__link {
    color: #919191;
  }
}

.main-nav__item:active {
  .main-nav__link {
    color: #cccccc;
  }
}

.main-nav--nojs {
  position: static;
  display: block !important;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;

    display: block;
    margin-left: 75px;
    padding: 0;

    font-family: "OswaldRegular", arial, sans-serif;
    font-size: $font-size-3;
    line-height: 25px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 500px;
    margin-left: auto;
    background: transparent;
  }


  .main-nav--main {
    color: $text-color-3;

    .main-nav__link::after {
      background: $text-color-3;
    }
  }
}
