.more {
  position: relative;

  padding-top: 70px;
  @include padding-mobile;
  padding-bottom: 25px;

  text-align: center;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.more::before,
.more::after {
  content: "";
  position: absolute;
  display: block;
  background-color: $border-color;
}

.more:before {
  top: 45px;
  left: 50%;
  transform: translateX(-50%);

  width: 30px;
  height: 2px;
}

.more:after {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 2px;
  height: 30px;
}

.more__title {
  margin: 10px auto;

  font-size: $font-size-2;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.more__text {
  display: block;
  margin-bottom: 25px;
  font-family: arial, sans-serif;
  font-size: $font-size-0;
}

.more__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 8px 0;

  font-size: $font-size-2;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  background-color: $bg-color-2;
}

@media (min-width: $tablet-width) {
  .more {
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 40px;

    border: 1px solid $border-color;
  }

  .more:before {
    top: 85px;
    left: 50%;
    transform: translateX(-50%);

    width: 60px;
    height: 2px;
  }

  .more:after {
    top: 55px;
    left: 50%;
    transform: translateX(-50%);

    width: 2px;
    height: 60px;
  }

  .more__title {
    width: 140px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: $font-size-4;
  }

  .more__text {
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: $font-size-2;
  }

  .more__link {
    margin-top: 90px;
  }
}

@media (min-width: $desktop-width) {
  .more {
    width: 245px;
    padding-left: 0;
    padding-right: 0;
  }

  .more__link {
    width: 170px;
    margin-top: 93px;
  }
}
