.page-header {
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .page-header__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 50px;
  }
}
