.page-heading {
  padding-top: 25px;
  padding-bottom: 20px;
  @include padding-mobile;
  border-top: 2px solid $border-color;
}

.page-heading--main {
  text-align: center;
  color: $text-color-3;

  background-image: url("../img/index-background-mobile@1x.jpg"),
                      linear-gradient($bg-color-1 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position:center top;
  background-size: contain;

  border: none;

  .page-heading__text {
    width: auto;
    font-weight: bold;
  }

  .page-heading__title {
    text-align: center;
  }
}

.page-heading__title {
  font-weight: normal;
  font-size: $font-size-12;
  line-height: 36px;
}

.page-heading__text {
  width: 250px;
  padding-top: 20px;
  font-size: $font-size-1;
  text-transform: uppercase;
}

.page-heading__pic {
  display: block;
  margin-top: 25px;
}

.page-heading__link {
  display: block;
  padding: 10px 0;

  font-size: $font-size-1;
  line-height: 18px;
  text-transform: uppercase;

  background: #68b738;
}

.page-heading__link:hover {
  background: #5eaa2f;
}

.page-heading__link:active {
  background: #5eaa2f;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: $tablet-width) {
  .page-heading {
    padding: 0;
    padding-top: 50px;
    border: none;
  }

  .page-heading__center {
    position: relative;
  }

  .page-heading__title {
    font-size: $font-size-24;
  }

  .page-heading__text {
    width: 345px;
    margin-top: 40px;
    @include padding-tablet;

    font-size: $font-size-4;
    line-height: 30px;
  }

  .page-heading--main {
    color: $text-color-2;
    background-color: #ffffff;
    background-image: none;

    .page-heading__title {
      width: 427px;
      margin-left: 100px;
      line-height: 60px;
      text-align: left;
    }

    .page-heading__text {
      width: 300px;
      margin: 0;
      margin-left: 100px;
      padding: 0;
      padding-top: 50px;

      text-align: left;
      font-weight: normal;
    }
  }

  .page-heading__pic {
    position: relative;
    z-index: 10;
  }

  .page-heading__link {
    position: absolute;
    top: 235px;
    left: 100px;
    z-index: 100;

    width: 245px;
    padding: 17px 0;
    font-size: $font-size-4;
    color: $text-color-3;
  }
}

@media (min-width: $desktop-width) {
  .page-heading--main {
    background: transparent;

    .page-heading__center {
      margin-top: 30px;
    }

    .page-heading__title {
      margin-left: 80px;
    }

    .page-heading__text {
      margin-left: 80px;
    }
  }

  .page-heading--main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 50%;
    height: 695px;

    background-color: $bg-color-1;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
  }

  .page-heading__pic {
    margin-top: -280px;
    margin-left: 150px;
  }

  .page-heading__link {
    left: 80px;
  }
}

@media (min-width: $mobile-width) and (min-resolution: 144dpi),
       (min-width: $mobile-width) and (min-resolution: 1.5dppx) {
  // .page-heading {

  // }

  .page-heading--main {
    background-image: url("../img/index-background-mobile@1x.jpg"),
                        linear-gradient($bg-color-1 305px, #ffffff 305px);
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi),
       (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  // .page-heading {

  // }

  .page-heading--main {
    background-image: none;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 144dpi),
       (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .page-heading--main::before {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}
