.page-footer {
  @include padding-mobile;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: $bg-color-2;
}

.page-footer__center {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 60px 0;
  }

  .page-footer__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
