.product {
  padding-bottom: 20px;
  @include padding-mobile;
  border-top: 1px solid $border-color;
}

.product__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 280px;
  margin: 0 auto;
}

.product__title {
  width: 80px;
  margin: auto;
  margin-top: 25px;

  text-transform: uppercase;
  font-weight: normal;
  font-size: $font-size-2;
  line-height: 20px;
}

.product__pic {
  order: -1;
  width: 30%;
}

.product__table {
  width: 140px;
  margin-top: -70px;
  margin-left: auto;

  font-family: arial, sans-serif;
  font-size: $font-size-0;
  font-weight: normal;
}

.product__cell:last-child {
  text-align: right;
}

.product__btn {
  width: 100%;
  padding: 8px 0;

  font-family: "OswaldMedium", arial, sans-serif;
  color: #ffffff;
  font-size: $font-size-2;
  line-height: 20px;
  text-transform: uppercase;

  background-color: $bg-color-1;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;

    margin-top: 150px;
    @include padding-tablet;
    padding-bottom: 40px;

    border: none;
    background-color: $bg-color-2;
  }

  .product__inner {
    position: relative;
    width: 245px;
    margin-top: auto;
  }

  .product__title {
    width: 130px;
    margin-bottom: 25px;
    text-align: center;
    font-size: $font-size-4;
  }

  .product__pic {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -80px;
  }

  .product__table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: $font-size-2;
  }

  .product__row {
    border-bottom: 1px solid $border-color;
  }

  .product__cell {
    padding: 7px;
  }
}

@media (min-width: $desktop-width) {
  .product__inner {
    width: 165px;
  }
}
