.programm {
  position: relative;

  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;

  background: #f2f2f2;
}

.programm::after {
  content: "";
  position: absolute;
  top: 15px;

  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;

  background: $bg-color-1;

  border-radius: 50%;
}

.programm--slim:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 15px;
  z-index: 100;

  display: block;
  width: 35px;
  height: 50px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.programm--pro:before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 25px;
  left: 10px;

  display: block;
  width: 71px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.programm__title {
  padding-left: 70px;
  padding-bottom: 30px;

  color: $text-color-2;
  font-size: $font-size-6;
  text-transform: uppercase;
  font-weight: normal;
}

.programm__text {
  padding-bottom: 23px;

  font-family: arial;
  font-size: $font-size-1;
  line-height: 18px;
  color: $text-color-1;

  border-bottom: 1px solid $border-color;
}

.programm__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 120px;
  padding: 20px 0;
  padding-right: 45px;

  font-size: $font-size-2;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .programm {
    padding: 0 50px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .programm::after {
    top: 100px;
    right: 40px;
    width: 200px;
    height: 200px;
  }

  .programm--slim:before {
    top: 90px;
    left: 480px;
    width: 145px;
    height: 200px;
  }

  .programm--pro:before {
    top: 150px;
    left: 430px;
    width: 250px;
    height: 115px;
  }

  .programm__title {
    padding: 0;
    font-size: $font-size-12;
  }

  .programm__text {
    width: 373px;
    font-size: $font-size-2;
    line-height: 24px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .programm {
    width: 470px;
    padding-bottom: 50px;
  }

  .programm::after {
    top: 50px;
    left: 40px;
    width: 100px;
    height: 100px;
  }

  .programm--slim:before {
    top: 45px;
    left: 55px;
    width: 71px;
    height: 97px;
  }

  .programm--pro:before {
    top: 75px;
    left: 15px;
    width: 137px;
    height: 59px;
  }

  .programm__title {
    margin-bottom: 70px;
    margin-left: 160px;
  }
}
